<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head.ejs", {title:"agregar-Productos",
  style:"agregar-Productos"}) %>

  <body>
    <main>
      <%- include ("./partials/navbar.ejs") %>
      <div class="titulo-form">
      
      <h1>Agregando un Nuevo Producto</h1>
      <% if(locals.errors) { %>
        <ul>
          <% errors.forEach(function(error){ %> 
              <li> <%= error.msg %> </li>
          <% }) %> 
        </ul>
      <% } %> 
      <form action="/products/create" enctype="multipart/form-data" method="post">
        <div class="campos">
          <label for="name">Nombre del producto</label>
          <input type="text" name="name" value="<%= locals.old ? old.name : "" %>" />
          <% if(locals.errors2 && locals.errors2.name) { %>
              <p><%= errors2.name.msg %> </p>
          <% } %> 
        </div>

        <div class="campos">
          <label for="price">Precio</label>
          <input type="text" name="price" value="<%= locals.old ? old.price : "" %>" />
          <% if(locals.errors2 && locals.errors2.price) { %>
            <p><%= errors2.price.msg %> </p>
        <% } %> 
        </div>

        <div class="campos">
          <label for="description">Descripcion</label>
          <input type="text" name="description" value="<%= locals.old ? old.description : "" %>" />
          <% if(locals.errors2 && locals.errors2.description) { %>
            <p><%= errors2.description.msg %> </p>
        <% } %> 
        </div>

        <div class="campos">
          <label for="imagen">Cargar Imagen</label>
          <input type="file" name="imagen" />
        </div>

        <button type="submit">Crear</button>
      
      </form>
    </div>
    </main>
  </body>

  <%- include ("./partials/footer.ejs") %>
</html>
