<!DOCTYPE html>
<html>

<%- include ("./partials/head.ejs", {title:"crearCuenta", style:"crearCuenta"}) %>

    <body>
        <header>
            <%- include ("./partials/navbar.ejs")%>
        </header>
        <main>
            <div class="registro">
                <form action="/user/crearCuenta" method="post">
                    <p>
                        <label for="Nombre y apellido"></label>
                        <input type="text" name="name" placeholder="Nombre y apellido">
                        <% if(locals.elError && locals.elError.name) {%>
                            <p class = "errorMsg">
                                <%= elError.name.msg %>
                            </p>
                            <% } %>
                    </p>
                    <p>
                        <label for="email"></label>
                        <input type="email" name="email" placeholder="E-mail">
                        <% if(locals.elError && locals.elError.email) {%>
                            <p class = "errorMsg">
                                <%= elError.email.msg %>
                            </p>
                            <% } %>
                    </p>
                    <p>
                        <label for="image">Agregar Imagen</label>
                        <input type="file" name="image" />
                        <% if(locals.elError && locals.elError.image) {%>
                            <p class = "errorMsg">
                                <%= elError.image.msg %>
                            </p>
                            <% } %>
                    </p>
                    <p>
                        <label for="Contraseña"></label>
                        <input type="password" name="contraseña" placeholder="Contraseña">
                        <% if(locals.elError && locals.elError.contraseña) {%>
                            <p class = "errorMsg">
                                <%= elError.contraseña.msg %>
                            </p>
                            <% } %>
                    </p>
                    <p>
                        <label for="Enviar"></label>
                        <input class="efecto" type="submit">
                    </p>
                    <p>
                        <label for="Cancelar"></label>
                        <input class="efecto" type="reset">
                    </p>
                </form>
            </div>
        </main>
        <%- include ("./partials/footer.ejs") %>
    </body>

</html>